  <% if @over_ten %>
    <%= link_to 'Show Previous', '?m=all' %>
  <% end %>
  <div class="message-box">
    <% @messages.each do |message| %>
      <% if message.body %>
          <div class="content">
              <% if message.user != current_user %>
                <div class="receiver">
                  <div class="user-img">
                    <%= image_tag message.user.picture %>
                    <strong>
                      <%= message.user.first_name %>
                    </strong><%= message.message_time %>
                  </div>
                </div>
                <div class="item-receive">
                  <%= message.body %>
                </div>

              <% else %>

                <div class="sender">
                  <div class="user-img">
                    <%= image_tag message.user.picture %>
                    <strong>Me</strong> <%= message.message_time %>
                  </div>
                </div>
                <div class="item-send">
                  <%= message.body %>
                </div>
              <% end %>
            </div>
      <% end %>
    <% end %>
  </div>
