


<div class="user-index-container">

  <div class="user-index-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'background.jpg' %>);">

    <div class="banner-content">
      <h1>Discover your travel crushs</h1>
      <span class=""><kbd>I love:</kbd> <%= "#{@interests.pluck(:name).join(', ').downcase}"%></span>
      <br>
      <p><%= link_to 'Edit interests', root_path%></p>
    </div>

  </div>

  <div class="user-index-bottom">
    <div class="user-index-left">
      <div class="card-users-listing">
        <div class="row">
          <% @users.each do |user| %>
            <div class="col-xs-6 col-md-4">
              <%= render "test-card", user: user %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="user-index-right">
      <div id="map"></div>
    </div>
  </div>

</div>

<% content_for(:after_js) do %>
        <script>
          $(document).ready(function() {
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' }, provider: { scrollwheel: false } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          });
        </script>
<% end %>

<% content_for(:footer_class, "hidden") %>

