<h1>show</h1>
<br>
<%= @user.first_name %>, <%= @user.age %>
<%= @user.description %>
</div>

<% if user_signed_in?  && @receive_notication %>
  <%= render 'requests/notifications/index' %>
<% elsif user_signed_in? && @send_request %>
  <%= render 'requests/requests/index' %>
<% else %>
  <%= render 'requests/new', user: @user, request: @request %>
<% end %>
<%= link_to "Back to index", users_path %>
