<%= simple_form_for :user_interest,  url: user_interests_path(), method: :post do |f| %>

  <%= f.collection_check_boxes :interest_id, Interest.all[0..3], :id, :name do |interest| %>
    <label class="card-interest-wrapper">

      <%= interest.check_box %>

      <%#= cl_image_url interest.object.picture.path %>
      <div class="card-interest" style=" background-image: url(<%= "https://unsplash.it/200/300?image=#{rand(1..100)}"%>)">
        <h2 class="card-interest-name">
          <%= interest.text %>
        </h2>
      </div>
    </label>
  <% end %>
  <div id="submit-interests">
    <p>What do you love ?</p>
    <%= f.button :submit, class: "btn btn-success"%>
  </div>
  <%= f.collection_check_boxes :interest_id, Interest.all[4..7], :id, :name do |interest| %>
    <label class="card-interest-wrapper">

      <%= interest.check_box %>

      <%#= cl_image_url interest.object.picture.path %>
      <div class="card-interest" style="background-image: url(<%= "https://unsplash.it/200/300?image=#{rand(1..100)}"  %>)">
        <h2 class="card-interest-name">
          <%= interest.text %>
        </h2>
      </div>
    </label>
  <% end %>
<% end %>


