<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>
<div class="container">
  <h1>Hello <%= current_user.first_name %></h1>
  <h1>My dashboard</h1>

  <div class="interests">
    <h2>Your interests</h2>
    <% @interests.each do |interest| %>
      <br>
      <%= interest.name %>
    <% end  %>
  </div>
  <%= render 'requests/requests/index' %>
  <%= render 'requests/notifications/index' %>
</div>
