<div class="banner-content">
  <div class="user-index-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'background.jpg' %>);"></div>
</div>
<div class="container">
  <div class="row">
    <div class="text-center">
    <%= image_tag current_user.picture, class: "avatar" %>
      <!-- <h1>Hello <%= current_user.first_name %></h1> -->
      <div class="requests-filter col-xs-12 col-sm-6 col-sm-offset-3">
        <h1>Hello <%= current_user.first_name %> <%= current_user.last_name %> 👋😜</h1>
        <div class="form-group">
          <label for="comment"><h2>My description</h2></label>
          <textarea class="form-control" rows="3" id="comment" placeholder="<%= current_user.description %>"></textarea>
          <button type="button" class="btn btn-default">Edit</button>
        </div>
        <div class="tabs" role="tablist">
          <a class="tab active nav-link" href="#pending" data-toggle="tab" role="tab">
            <h3><%= @user.sent_requests.pending.count + @user.received_requests.pending.count %></h3>
            <p>Pending</p>
          </a>
          <a class="tab nav-link" href="#accepted" data-toggle="tab" role="tab">
            <h3><%= @user.sent_requests.accepted.count + @user.received_requests.accepted.count %></h3>
            <p>Accepted</p>
          </a>
          <a class="tab" href="#refused" data-toggle="tab" role="tab">
            <h3><%= @user.sent_requests.refused.count + @user.received_requests.refused.count %></h3>
            <p>Refused</p>
          </a>
        </div>
        <div class="tab-content">



          <div role="tabpanel" class="tab-pane active" id="pending">
            <div class="accepted-flex">
              <%= render "requests/requests/index", requests: @user.sent_requests.pending %>
              <%= render "requests/notifications/index", requests: @user.received_requests.pending %>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="accepted">
            <div class="accepted-flex">
              <%= render "requests/requests/index", requests: @user.sent_requests.accepted %>
              <%= render "requests/notifications/index", requests: @user.received_requests.accepted %>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="refused">
            <div class="accepted-flex">
              <%= render "requests/requests/index", requests: @user.sent_requests.refused %>
              <%= render "requests/notifications/index", requests: @user.received_requests.refused %>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <%= link_to "Go back", users_path, class:'btn btn-default' %>
  <br>
  <br>
</div>





