 <!-- #link_to 'Back to index', users_path(@users) -->
<div class="container">
  <div class="row">
    <div class="text-center">
      <!-- <h1>Hello <%= current_user.first_name %></h1> -->
      <div class="requests-filter col-xs-12 col-sm-8">
        <h1>My Requests</h1>
        <div class="tabs" role="tablist">
          <a class="tab active" href="#pending" data-toggle="tab">
            <h3>35</h3>
            <p>Pending</p>
          </a>
          <a class="tab" href="#accepted" data-toggle="tab">
            <h3>15</h3>
            <p>Accepted</p>
          </a>
          <a class="tab" href="#refused" data-toggle="tab">
            <h3>189</h3>
            <p>Refused</p>
          </a>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="pending">
            <%= render "requests/requests/index", requests: @user.sent_requests.pending %>
            <%= render "requests/notifications/index", requests: @user.received_requests.pending %>
          </div>
          <div role="tabpanel" class="tab-pane" id="accepted">
            <%= render "requests/requests/index", requests: @user.sent_requests.accepted %>
            <%= render "requests/notifications/index", requests: @user.received_requests.accepted %>
          </div>
          <div role="tabpanel" class="tab-pane" id="refused">
            <%= render "requests/requests/index", requests: @user.sent_requests.refused %>
            <%= render "requests/notifications/index", requests: @user.received_requests.refused %>
          </div>
        </div>
      </div>


      <div class="interests col-xs-12 col-sm-4">
<!--         <h1>I love</h1> -->
        <h2 class="titles">I love: <%= "#{@interests.pluck(:name).join(', ').downcase}"%></h2>
          <p><%= link_to 'Edit interests', root_path%></p>
      </div>
    </div>
  </div>
</div>


