<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>
<div class="container">
  <div class="text-center">
    <h1>Hello <%= current_user.first_name %></h1>
    <h1>My dashboard</h1>

    <div class="interests">
      <h2>My interests</h2>
      <% @interests.each do |interest| %>
        <br>
        <%= interest.name %>
      <% end  %>
    </div>
    <%= render 'requests/requests/index' %>
    <%= render 'requests/notifications/index' %>
  </div>
</div>
